.chatmenu {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    justify-items: stretch;
    align-items: stretch;
}

.chatlist {
    overflow-y: auto;
    display: block;
}

.chatitem {
    width: 100%;

    &[data-highlighted] .chatcard {
        border-color: var(--chakra-colors-blue-500);
        outline-color: var(--chakra-colors-blue-500);
        outline-width: var(--chakra-borders-md);
    }
}



.chatcard {
    flex-grow: 1;
    border-width: var(--chakra-borders-sm);
    max-width: 400px;
}

.current {
    .chatcard {
        border-color: var(--chakra-colors-blue-500);
    }
}