apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    io.kompose.service: openai-ui
  name: openai-ui
  namespace: openai-proxy
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: openai-ui
  strategy:
    type: RollingUpdate
  revisionHistoryLimit: 5
  template:
    metadata:
      labels:
        io.kompose.service: openai-ui
    spec:
      containers:
        - image: ghcr.io/fhswf/openai-ui:0.28.0
          name: ui
          ports:
            - containerPort: 80
          env:
            - name: VITE_RELEASE
              value: 0.28.0
            - name: VITE_BUILD_SHA
              value: df247667dd6cdaf8932b51d8c86d9d3aa55af23a
          resources:
            limits:
              memory: 512Mi
              cpu: 2000m
            requests:
              memory: 128Mi
              cpu: 500m
      restartPolicy: Always
      autoMountServiceAccountToken: false
status: {}
