apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    io.kompose.service: openai-ui
  name: openai-ui
  namespace: openai-proxy
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: openai-ui
  strategy:
    type: RollingUpdate
  revisionHistoryLimit: 5
  template:
    metadata:
      labels:
        io.kompose.service: openai-ui
    spec:
      autoMountServiceAccountToken: false
      containers:
        - name: openai-ui
          image: ghcr.io/fhswf/openai-ui:0.30.1
          resources:
            requests:
              ephemeral-storage: 256Mi
              memory: 128Mi
              cpu: 500m
            limits:
              memory: 512Mi
              cpu: 2000m
          ports:
            - containerPort: 80
          env:
            - name: VITE_RELEASE
              value: 0.30.1
            - name: VITE_BUILD_SHA
              value: 64f64b67aef68dda582264128205dac7696b8b7c
      restartPolicy: Always
status: {}
