apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    io.kompose.service: openai-ui
  name: openai-ui
  namespace: openai-proxy
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: openai-ui
  strategy:
    type: RollingUpdate
  revisionHistoryLimit: 5
  template:
    metadata:
      labels:
        io.kompose.service: openai-ui
    spec:
      containers:
        - image: ghcr.io/fhswf/openai-ui:0.27.2
          name: ui
          ports:
            - containerPort: 80
          env:
            - name: VITE_RELEASE
              value: 0.27.2
            - name: VITE_BUILD_SHA
              value: 3fc00211e65200169dc925678376433cadcc0f73
          resources:
            limits:
              memory: 512Mi
              cpu: 2000m
            requests:
              memory: 128Mi
              cpu: 500m
      restartPolicy: Always
      autoMountServiceAccountToken: false
status: {}
