name: Playwright Tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - run: corepack enable && corepack prepare yarn@stable --activate
    - uses: actions/setup-node@v5
      with:
        node-version: lts/*
        cache: 'yarn'
        cache-dependency-path: '**/yarn.lock'
    - name: Install dependencies
      run: yarn install --immutable
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run Playwright tests
      run: npx playwright test
      env:
        PLAYWRIGHT_TEST_BASE_URL: http://localhost:5173
        VITE_LOGIN_URL: https://openai.ki.fh-swf.de/api/login
        VITE_LOGOUT_URL: https://openai.ki.fh-swf.de/api/logout
        VITE_API_BASE_URL: https://openai.ki.fh-swf.de/api/v1
        VITE_USER_URL: https://openai.ki.fh-swf.de/api/user
        VITE_PROXY_URL: https://proxy.gawron.cloud/api
        VITE_DASHBOARD_URL: https://openai.ki.fh-swf.de/api/dashboard
    - name: Generate coverage report
      run: npx playwright show-coverage --reporter=lcov
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
    - name: SonarQube
      uses: sonarsource/sonarqube-scan-action@v6
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }}
