name: Quality Gate

on: 
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


jobs:
  cypress:
    runs-on: ubuntu-22.04
    env:
      VITE_LOGIN_URL: https://openai.ki.fh-swf.de/api/login
      VITE_API_BASE_URL: https://openai.ki.fh-swf.de/api/v1
      VITE_USER_URL: https://openai.ki.fh-swf.de/api/user
      CYPRESS_USER_NAME: "${{ secrets.CYPRESS_USER_NAME }}"
      CYPRESS_USER_PASSWORD: "${{ secrets.CYPRESS_USER_PASSWORD }}"
      LANGUAGE: de
    #container:
    #  image: cypress/browsers:node-20.9.0-chrome-118.0.5993.88-1-ff-118.0.2-edge-118.0.2088.46-1
    #  options: --user 1001
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - run: corepack enable && corepack prepare yarn@stable --activate
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'yarn'
          cache-dependency-path: '**/yarn.lock'

      # Install npm dependencies, cache them correctly
      # and run all Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          install-command: yarn install
          start: yarn start
          wait-on: 'http://localhost:5173'
          wait-on-timeout: 60
          browser: chrome
          spec: cypress/e2e/uiTest.cy.js
          record: false
          
      - uses: actions/upload-artifact@v4
        # add the line below to store screenshots only on failures
        if: failure()
        with:
          name: cypress-screenshots
          path: cypress/screenshots
          if-no-files-found: ignore # 'warn' or 'error' are also available, defaults to `warn`
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: cypress-videos
          path: cypress/videos
          if-no-files-found: warn # 'warn' or 'error' are also available, defaults to `warn`

  playwright:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - run: corepack enable && corepack prepare yarn@stable --activate
    - uses: actions/setup-node@v5
      with:
        node-version: lts/*
        cache: 'yarn'
        cache-dependency-path: '**/yarn.lock'
    - name: Install dependencies
      run: yarn install --immutable
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run Playwright tests
      run: npx playwright test
      env:
        PLAYWRIGHT_TEST_BASE_URL: http://localhost:5173
        VITE_LOGIN_URL: https://openai.ki.fh-swf.de/api/login
        VITE_LOGOUT_URL: https://openai.ki.fh-swf.de/api/logout
        VITE_API_BASE_URL: https://openai.ki.fh-swf.de/api/v1
        VITE_USER_URL: https://openai.ki.fh-swf.de/api/user
        VITE_PROXY_URL: https://proxy.gawron.cloud/api
        VITE_DASHBOARD_URL: https://openai.ki.fh-swf.de/api/dashboard
    - name: Generate coverage report
      run: npx playwright show-coverage --reporter=lcov
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
    - name: SonarQube
      uses: sonarsource/sonarqube-scan-action@v6
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }}